<!DOCTYPE html>
<html lang="fr">
<head>
    {{ include('partial/head.html.twig') }}
</head>

<body>
<div class="container-fluid">
    <header>
        {{ include('partial/header.html.twig') }}
    </header>

    <main>

        {{ include('home.html.twig') }}

    </main>


</div>

{{ include('partial/scripts.html.twig') }}

</body>
</html>